conv3D_logs/
/cooley_logs/
l2hmc-qcd/lattice/old
l2hmc-qcd/remake_plots.py
l2hmc-qcd/sampler.py
l2hmc_logs
logs/
2019_04_09
animations/
*.mp4
figures/
l2hmc/qcd/args/*

l2hmc-qcd/args/checkpoint_dir.txt
l2hmc-qcd/args/extras/
l2hmc-qcd/args/main.sh
l2hmc-qcd/args/run_l2hmc.sh
l2hmc-qcd/base/
l2hmc-qcd/args/args.txt
