conv3D_logs/
/cooley_logs/
l2hmc-qcd/lattice/old
l2hmc-qcd/remake_plots.py
l2hmc-qcd/sampler.py
l2hmc_logs
logs/
2019_04_09
animations/
*.mp4
figures/
l2hmc/qcd/args/*

l2hmc-qcd/args/checkpoint_dir.txt
l2hmc-qcd/args/extras/
l2hmc-qcd/args/main.sh
l2hmc-qcd/args/run_l2hmc.sh
l2hmc-qcd/l2hmc-qcd/dynamics/lattice_dynamics.py
l2hmc-qcd/models/gauge_model_old.py
l2hmc-qcd/notebooks/Untitled.ipynb
l2hmc-qcd/notebooks/load_and_run_from_saved_model.ipynb
l2hmc-qcd/notebooks/make_plots.ipynb
l2hmc-qcd/notebooks/save_leapfrogs.ipynb
l2hmc-qcd/notebooks/tensorboard_in_notebook.ipynb
l2hmc-qcd/notebooks/testing_reversability_tf_eager.ipynb
l2hmc-qcd/notebooks/u1_animations.ipynb
l2hmc-qcd/plotters/formatters.py
l2hmc-qcd/dynamics/lattice_dynamics.py
l2hmc-qcd/test.py
l2hmc-qcd/utils/optimize_for_inference.py
l2hmc-qcd/main_old.py
l2hmc-qcd/models/old/
l2hmc-qcd/notebooks/Untitled1.ipynb
l2hmc-qcd/hmc/
l2hmc-qcd/tests/
l2hmc-qcd/old/
l2hmc-qcd/args/output_dirs.txt
l2hmc-qcd/models/model_backup.py
l2hmc-qcd/models/model_testing.py
*Untitled*
